
<section class="about">
  <h1>DIVE07課題</h1>
  <p>
     ツイッターに似せた課題アプリです。<br>
     機能：投稿一覧、投稿、投稿確認、編集、削除。<br>
     制限：1～255文字で投稿可。<br>
     <br>
     上部リンクよりどうぞ。
  </p>
</section>
<section class="function container-fluid">
  <div class="row">
    <section class="function">
      <div class="col-md-12 col-sm-12">
        <div class="function-images">
          <div class="function-image">
            <p><img src="<%= asset_path "key.png" %>"></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>