header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d0d3d5;
}

.about {
  background-color: white;
  color: #333;
  padding: 30px;
}

.function {
  background-color: #e9e9e9;
  padding: 30px;
  padding-bottom: 100px;
}

footer {
  width: 100%;
  background-color:#ffffff;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #f5f8fa;
}

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #1da1f2;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
  opacity: 0.7;
  }
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: 66757f;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #66757f;
    &:hover {
      color: #009bff;
    }
  }
  .navbar-nav > li > a {
    color: #66757f;
    &:hover, &:focus {
      color: #009bff;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: #66757f;
    &:hover, &:focus {
      background-color: transparent;
      color: #009bff;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #66757f;
    text-align: center;
    &:hover, &:focus {
      color: #009bff;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.show-left {
  width: 200px;
  display: block;
  background-color: #ffffff;
  margin: 20px 10px 0px 10px;
  float: left;
}

.right-word {
  border-bottom: 1px solid #ccc;
  text-align: left;
  word-wrap: break-word;
  padding: 15px;
}

.show-right {
  width: 66%;
  display: block;
  background-color: #ffffff;
  margin: 20px 10px 0px 10px;
  float: left;
}

.show-right :after {
  content: "";
  display: block;
  clear: both;
}

.word-block {
  text-align: left;
  word-wrap: break-word;
}

.time-word {
  text-align: right;
  font-size: 12px;
  color: #97a6b2;
}

.conf-color {
  background-color: #ffffff;
}